.section1{
    height: 80px;
    width: 100%;
    background-color: #3f51b5;
}
h1{
    padding: 25px 25px;
    justify-content: center;
    color: white;
}
.secction2{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
#sidenav{
    width: 240px;
    height: 100vh;
    overflow: auto;
    
}
.appcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 1200px;
}
.body-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.cards{

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.summary{
    padding: 25px 40px 0;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    justify-content: center;

}