
  <app-nav></app-nav>
<section class="section1">
  <h1>
    Components
  </h1>
</section>
<section class="Section2">
  <main class="docs-component-sidenav-body-content">
 <div id="sidenav"> <app-sidenav></app-sidenav></div>
<div class="appcard" >

<div class="summary">

  Angular Material offers a wide variety of UI components based on the site.
</div>


  <div class="cards">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>
</div>
</main>
</section>